<section id="main">  
    {{yield}}

    <input type="checkbox" id="toggle-all">
</section>

<footer id="footer">  
    <span id="todo-count">
        <strong>2</strong> sem concluir
    </span>
    <ul id="filters">
        <li>
        	{{#link-to "todos.index" activeClass="selected"}}
        		Todos
        	{{/link-to}}
        </li>
        <li>
        	{{#link-to "todos.ativos" ativeClass="selected"}}
        		Ativos
        	{{/link-to}}
        </li>
        <li>
	        {{#link-to "todos.concluidos" ativeClass="selected"}}
	        	Concluidos
	        {{/link-to}}
        </li>
    </ul>

    <button id="clear-completed">
        Limpar Concluídos (1)
    </button>
</footer>  