<ul id="todo-list" >
	{{#each model as |comentario|}}
		<li>{{comentario.comentarios}}</li>
	{{else}}
		<li>Nenhum comentario</li>
	{{/each}}
</ul>
{{#link-to "todos" ativeClass="selected"}}
	Lista
{{/link-to}}